<div class="card col-4 shadow">
    <div class="card-header">
        @Titulo
    </div>
    <div class="card-body"> 
        @Codigo
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary" type="button" @onclick="Cancelar">Cancelar</button>
        <button class="btn btn-outline-success" type="submit" @onclick="Aceptar">Aceptar</button>
    </div>
</div>

@code {

}
