@page "/Sesion01"

<Sesion NumeroSesion="1"></Sesion>
<h4>Cambios hechos al proyecto base</h4>

<ul class="list-group">
    <Item Texto="Cambiar formato de la barra superior"></Item>
    <Item Texto="Cambiar formato del menú principal"></Item>
    <Item Texto="Crear el primer componente"></Item>
    <Item Texto="Crear la primera página blazor web assembly"></Item>
</ul>


@code {

}
